<!DOCTYPE HTML> 
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./public/css/recoverVerify.css" >  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="html" type="text/html" href="SignUp.html">
        <title>Automated Attendance System/Recovery Info</title>
    </head>
       <body>
           <div class="landing-page">
            <div class="container"> 
                <h1>Password Recovery link Was Sent To Your Email,it expires after 3 mins</h1>
           </div>
            
            
        </body>
   
</html>