<!DOCTYPE HTML> 
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./public/css/SignUp pg.css" >  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Automated Attendance System/Sign up</title>
    </head>
        <body>
            <div class="landing-page">
                <div class="container"> 
                    <h1>SIGN UP</h1>
                    <p><%= signupmessage %></p>
                
                    <form action="/user/signup" method="POST" id="form">
                        <div class="tbox">
                            <input type="text" id="name" name="name" placeholder="@userName" value="">
                        </div>
        
        
                        <div class="tbox">
                            <input type="email" id="email" name="email" placeholder="@email" value="">
                        </div>
        
                        <div class="tbox">
                            <input type="password" id="password" name="password" placeholder="password" value="">
                        </div>
                       
                        <input class="btn" type="submit" name="" value="SIGNUP" >
                        
                    </form>
                    <a class="b2" href="/user/login"><- BACK</a>
                    <a class="b3" href="/"><- BACK TO HOME</a>
                  
                 
                </div>
            </div>
            
        </body>
   
</html>